/* Bike Shop CSS
==================================================
================================================== */

/* /////////////////////////////////////////////////////////////////////// */
/* /                         MASTER CONTROLS                             / */
/* /////////////////////////////////////////////////////////////////////// */

html{
	font-size: 62.5%;
}
body{
	font:1.6rem/1.4 "Program OT", Arial, sans-serif;

}

h1, h2, h3, h4, p, a{
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: .5px;

}

h1{
   font-size: 2.8rem;
}
h2{
  font-size: 2.6rem;

}
h3{
  font-size: 2rem;
}
h4, p{
  font-size: 1.4rem;
  text-transform: none;
  font-weight: lighter;
  color: #888888;
}
a{
  color: #FFFFFF;
}

header, footer{
  max-width: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

body > section{
  max-width: 960px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;

}

section > h2{
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: lighter;
  margin-left: 100px;

}


section h2 strong{
    display: block;
    font-weight: bold;
    padding-top: 0;
    margin-top: -15px;

  }


section, ul{
    max-width: 760px;
    margin-right: auto;
    margin-left: auto;

}

section > p{
  margin-top: 2rem;
  margin-left: 100px;

}

section > p button{
  background-color: #C0392B;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding: .5rem .5rem .5rem .5rem;

  border-radius: 1rem;
}

img{
  width: 100%;
}
/* /////////////////////////////////////////////////////////////////////// */
/* /                         HEADER CONTROLS                             / */
/* /////////////////////////////////////////////////////////////////////// */

header{
  background-image: url(../images/banner.jpg);
	background-size: cover;
  background-repeat: no-repeat;
  height: 400px;

}

header img{
 width: 250px;
 position: absolute;
 top: 110px;
 left: 120px;

}


header ul::before{
  content: " ";
  height: 3px;
  width: 960px;
  background-color: #C0392B;
  position: absolute;
  top: 0;
  left: 0;

}
header ul{
  text-align: center;

}

header nav{
  width: 100%;
  background-color: #444444;
}

header li{
  display: inline-block;
  padding: 9px 8px 8px 7px;

}

header li:hover {
  background-color: #111111;
}


/* /////////////////////////////////////////////////////////////////////// */
/* /                          catalog                                    / */
/* /////////////////////////////////////////////////////////////////////// */

 #catalog{
   background-color: #444444;
 }

 #catalog li{
  position: relative;
	float: left;
	padding: 0  2rem 2rem 2rem;
	width: calc(100% / 3 - 1rem);
	margin-bottom: 30px;
  margin-top: 30px;
  height: 150px;

 }

  #catalog li:not(:nth-of-type(3n)){
	margin-right: 1rem;
 }


 #catalog li:first-child{
   background-image: url(../images/bikes.jpg);
   background-size: cover;
 }
 #catalog li:nth-child(2){
  background-image: url(../images/speedometer.jpg);
  background-size: cover;
 }

 #catalog li:nth-child(3){
  background-image: url(../images/backpack.jpg);
  background-size: 500px;
  background-position: top;
 }

#catalog h2{
  background-color: rgba(17,17,17, 0.85);
  text-align: center;
  width:100%;
  color: #FFFFFF;
  position: absolute;
  left: 0;
  top: 35px;

}

#catalog p{
  background-color: #C0392B;
  display: inline-block;
  text-align: center;
  color: #FFFFFF;
  width: 90px;
  position: absolute;
  left: 73px;
  top: 100px;
}

 #catalog ul::after{
   content: " ";
   display: block;
   clear: both;
 }

/* /////////////////////////////////////////////////////////////////////// */
/* /                          products                                   / */
/* /////////////////////////////////////////////////////////////////////// */

#products h2{
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: lighter;
  margin-left: 100px;
}

#products del{
  text-decoration: line-through;
  margin-left: 1rem;
}

#products li {
	position: relative;
	float: left;
	width: calc(100% / 4 - 1rem);
	margin-bottom: 1rem;
	background: #ffffff;
  border: 1px solid transparent;
  padding: 0.4rem 1.5rem 1.5rem 1.5rem;

}

.sale{
  display: block;
  background-color: #C0392B;
  width:4rem;
  color: #FFFFFF;
  position: absolute;
  top: 1.5rem;
  left: 0.4rem;
  text-transform: uppercase;
  text-align: center;
  font-style: italic;

}

.sale::after{
  content: "";
  border-style: solid;
  border-width: 20px 5px 0 0;
  border-color: #C0392B transparent transparent transparent;
  position: absolute;
  top:0;
  left: 4rem;
}

.thumbnail{
  width: calc(100% + 2.2rem);
  height: 15rem;
  overflow: hidden;
  position: relative;
  left: -1.1rem;
  margin-bottom: 0.3rem;

}

#products li img{
  display: block;
  filter: grayscale(100%);
  height: 100%;
  width: auto;

}

#products li:not(:nth-of-type(4n)) {
	margin-right: 1rem;
}
#products li:nth-of-type(4n+5) {
	clear: left;
}

#products ul::after{
  content: " ";
  display: block;
  clear: both;
}


[data-rating] {
	height: 2rem;
	background: url(../images/ratings.png) no-repeat left top;
	background-size: auto 22rem;
}
[data-rating='1'] { background-position: left -4rem; }
[data-rating='2'] { background-position: left -8rem; }
[data-rating='3'] { background-position: left -12rem; }
[data-rating='4'] { background-position: left -16rem; }
[data-rating='5'] { background-position: left -20rem; }

meter {
	display: none;

}

#products li button{
  display: none;
}

#products li:hover button {
  display: block;
	position: absolute;
	top: 11.55rem;
	left: 0.4rem;
	width: 95.5%;
	padding: 1rem 0;
	background: rgba(0,0,0,0.8);
	color: white;
	outline: none;
	border: none;

}

#products li:hover{
  border-color: #DDDDDD;
}

#products li:hover img{
  filter: none;
}

/* /////////////////////////////////////////////////////////////////////// */
/* /                          events                                     / */
/* /////////////////////////////////////////////////////////////////////// */

#events{
  padding-top: 10px;
  padding-bottom: 10px;
	margin-bottom: 0rem;
}

#events > h2{
  color: #FFFFFF;
  display: block;
  background-color: #C0392B;
  width:15rem;
}

#events ul{
	max-width: 760px;
}

#events li h3{
  color: #FFFFFF;
	font-weight: bold;
}

#events li h4{
  color: #FFFFFF;

}

#events li p{
  color: #FFFFFF;
}

#events li{
	background-color: #444444;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-bottom: 2px;

}


#events dl{
	font-size: 0.8rem;
	margin-top: 2rem;
	margin-right: 1rem;
}

#events dt{
	font-weight: bold;
	color: #FFFFFF;
	float: left;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
}

#events dd{
	float:left;
	color: #FFFFFF;
	margin-right: 0.5rem;
}

#events dl::after{
	content: "";
	display: block;
	clear: both;
}

#events ul::after{
  content: "";
  display: block;
  clear: both;
}


.event-date{
  margin-top: 1rem;
  margin-bottom: .25rem;
}

/* /////////////////////////////////////////////////////////////////////// */
/* /                         posts                                       / */
/* /////////////////////////////////////////////////////////////////////// */

#posts li {
	position: relative;
	float: left;
	width: calc(100% / 3 - 2rem);
	margin-bottom: 1rem;
	background: #ffffff;
}

#posts li h3{
	font-weight: bold;
}

#post li p:first-child{
	margin-top: 1rem;
}

#posts li:not(:nth-of-type(3n)) {
	margin-right: 3rem;
}

#posts li img{
  height: 150px;
  width: 200px;
}

#posts dl{
	font-size: 0.8rem;

}

#posts dt{
	font-weight: bold;
	float: left;
	margin-right: 0.2rem;
	margin-bottom: 0.5rem;
	margin-left: 0.5rem;
}

#posts dd{
	float:left;
}

#posts dl::after{
	content: "";
	display: block;
	clear: both;
}

#posts ul::after{
  content: "";
  display: block;
  clear: both;
}

#posts li button{
	margin-top: 1rem;
  background-color: #45e8a7;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;

}


/* /////////////////////////////////////////////////////////////////////// */
/* /                         benefits                                    / */
/* /////////////////////////////////////////////////////////////////////// */

#benefits{
  background-image: linear-gradient(rgba(68, 68, 68, 0.85), rgba(68, 68, 68, 0.85)), url(../images/gears.jpg);
  background-repeat: no-repeat;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
}

#benefits h2{
  margin-left: 0;
  text-align: center;
  color: #888888;

}
#benefits h2 strong{
  color: #FFFFFF;

}

#benefits h3{
  margin-top: 3rem;
  color: #FFFFFF;

}

#benefits ul{
  margin-top: 20px;
  text-align: center;
}

#benefits li {
	position: relative;
  left: 20px;
	float: left;
  padding: 2rem 0 2rem 2rem;
	width: calc(100% / 3 - 3rem);
	margin-bottom: 1rem;

}

#benefits li:not(:nth-of-type(3n)) {
	margin-right: 3rem;
}

#benefits form{
  position: relative;

}

#email{
  margin-top: 10px;
	padding: 0.5rem;
}

#submit{
  background-color: #C0392B;
  padding: 0.5rem;
  color: #FFFFFF;
  position: relative;
  top: -29px;
  left: 10rem;
}

#benefits ul::after{
  content: "";
  display: block;
  clear: both;
}

#benefits img{
  height: 100px;
  width: 100px;
  color: #888888;
  border: 3px #888888 solid;

}

/* /////////////////////////////////////////////////////////////////////// */
/* /                         contact                                     / */
/* /////////////////////////////////////////////////////////////////////// */

#contact img{
	height: 400px;
}

#contact h1{
	font-weight: bold;
}


#contact h2{
	font-weight: bold;
	margin-top: -1rem;
	margin-left: 0;
}


#contact form input, textarea{
	border: 1px solid #888888;
	margin-bottom: 1rem;
	padding: 0.1rem;
}

#contact label{
	margin-right: 3rem;
}

#contact form button{
	margin-top: 1rem;
  background-color:  #C0392B;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  padding: 0.4rem 0.5rem 0.4rem 0.5rem;

}

/* /////////////////////////////////////////////////////////////////////// */
/* /                         footer                                      / */
/* /////////////////////////////////////////////////////////////////////// */

footer {
  background-color: #111111;
  padding-top: 10rem;
}
footer ul{
   position: relative;
   float: left;
   width: calc(100% / 4 - 1rem);

 }

footer ul:not(:nth-of-type(4n)){
  margin-right: 1rem;
 }

 #social {
  position: relative;
  left: 7rem;
 }

 #social h4{
   color: #FFFFFF;
   text-transform: uppercase;
   font-weight: bold;

 }
 #social li {
 	display: inline-block;

 }
 #social a {
 	display: block;
 	width: 3rem;
 	height: 3.05rem;
 	text-indent: -9999px;

 }

 [href*='facebook'] { background: url('../images/social.png') no-repeat 0px top;}
 [href*='twitter'] { background: url('../images/social.png') no-repeat -30px top; }
 [href*='youTube'] { background: url('../images/social.png') no-repeat -60px top; }
 [href*='google'] { background: url('../images/social.png') no-repeat -90px top; }
 [href*='instagram'] { background: url('../images/social.png') no-repeat -120px top; }

footer section{
  height: 25rem;
}

footer > section::after{
  content: "";
  height: 1px;
  width: 760px;;
  background-color: #444444;
  position: absolute;
  top: 35rem;
  left: 10rem;

}

footer ul li a{
  margin-bottom: 1rem;
  font-size: 1rem;
  color: #888888;

}

.bold{
  font-weight: bold;
  font-size: 1.6rem;
  color: #FFFFFF;
}

#copy-rigths{
  display: block;
  position: relative;
  height: 8rem;
}

#copy-rigths p{
  font-size: 0.8rem;
}

#copy-rigths p:first-child{
  position: absolute;
  top: 0;
  left: -10rem;;
}
#copy-rigths p:nth-child(2n){
 position: absolute;
 top:0;
 left: 46rem;
}
#copy-rigths p:nth-child(3n){
 position: absolute;
 top:0;
 left: 52rem;;
}
#copy-rigths p:nth-child(4n){
 position: absolute;
 top:0;
 left: 60rem;;
}
